<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.feng.demo.mydemos">

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:name=".DemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ToastDemoActivity"
            android:label="@string/toast_demo_activity_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NavigationActivity"
            android:theme="@android:style/Theme.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".recyclerview.RecyclerViewListActivity"
            android:label="@string/recyclerview_list_activity_name" />
        <activity
            android:name=".TestActivity"
            android:label="@string/test_activity_name" />
        <activity
            android:name=".CursorLoaderActivity"
            android:label="@string/cursorloader_activity_name" />
        <activity
            android:name=".http.VolleyActivity"
            android:label="@string/volley_activity_name" />
        <activity android:name=".http.WebViewActivity" />
        <activity android:name=".threadpool.ThreadPoolActivity" />
        <activity android:name=".threadpool.ThreadPool_2_Activity" />
        <activity
            android:name=".bitmap.BitmapToParcelActivity"
            android:windowSoftInputMode="adjustResize" />
        <!-- android:configChanges="orientation|keyboard|keyboardHidden|screenSize|layoutDirection"/> -->
        <activity
            android:name=".bitmap.BitmapParcelDestActivity"
            android:theme="@android:style/Theme.Holo.Light.Dialog" />
        <activity android:name=".http.OkHttpActivity" />

        <service
            android:name=".aidl.MyIntentService"
            android:exported="false" />

        <activity android:name=".aidl.MyAIDLActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="com.feng.demo.action.DOWNLOAD" />
                <category android:name="android.intent.category.DEFAULT" />
               <!-- <data android:scheme="http" android:pathPattern=".*//.pdf"></data>-->
                <data
                    android:pathPattern="/resource"
                    android:scheme="http" />
            </intent-filter>
        </activity>

        <service
            android:name=".aidl.MyAIDLService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".http.TomcatActivity" />
        <activity android:name=".updownload.ImageLoaderActivity" />
        <activity android:name=".EventBusActivity" />
        <activity android:name=".updownload.UploadFileActivity" />
        <activity android:name=".layout.SymmetricalLayoutActivity"></activity>
    </application>

</manifest>
